<h3>Menu de Navegacion</h3>

<button mat-raised-button color="primary" (click)="iraFecha()">Fecha</button>
<button mat-raised-button color="primary" (click)="iraRegistro()">Registro</button>
<button mat-raised-button color="primary" (click)="iraMenu()">Menu</button>
<button mat-raised-button color="primary" (click)="iraTabla()">Tabla</button>
<button mat-raised-button color="primary" (click)="iraArbol()">Arbol</button>
<button mat-raised-button color="primary" (click)="iraLista()">Lista</button>
<button mat-raised-button color="primary" (click)="iraDashboard()">Dasboard</button>
<button mat-raised-button color="primary" (click)="iraModal()">Modal</button>



